body{
	font-family:Cambria;
}
.slider-image{
height: 700px;
}
.header2{
color:red;
}
#intro-img{
	height: 250px;
}
.content-card{
	margin-top: 20px;

}
.card-title{
	text-align: center;
	color: #a03037;
}
.card-btn{
	display: inline-block;
	width: 100px;
	height:35px;
	background-color: #a03037;
	color: white;
	padding:5px;
	text-decoration: none;
	text-align: center;
}
.card-btn:hover{
	background-color: black;
	color: white;
}
.bt-group{
	text-align: right;
}
#cityTitle{
	color: #a03037;

}
#content{
	background-color: #efefef;
	margin-top: 50px;
}
.footer {
	background-color:yellow;
	color:black;
}

.footer p{
	height: 50px;
	line-height: 50px;
}
.img_fit{
	width: 500px;
	height: 400px;

}
.navbar{
	 background: rgb(247,188,1);
	background: linear-gradient(11deg, rgba(247,188,1,1) 26%, rgba(86,99,224,1) 80%); 
}
.info{
	color: black;
	font-size: 24px;
}
.nav-link{
	font-size: 18px;
}
.overflow-div{
	position: absolute;
	top: 0;
	left: 12px;
	width: 100%;
	height: 150px;
	overflow: visible;
	background: rgb(247,188,1);
	background: linear-gradient(11deg, rgba(247,188,1,1) 26%, rgba(86,99,224,1) 80%); 
	padding-bottom:120px ;
}
.underneath-div {
  position: absolute;
  top: 50px;
  left: 115px;

}
#sidebar{
	background: rgb(247,188,1);
	background: linear-gradient(11deg, rgba(247,188,1,1) 26%, rgba(86,99,224,1) 80%); 
}
.act:hover{
	background: rgb(247,188,1);
	background: linear-gradient(11deg, rgba(247,188,1,1) 26%, rgba(86,99,224,1) 80%); 
}
.text-danger{
	font-size: 12px;
	color:red;
}
.login-overflow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	
}
.login-underneath{
  position: absolute;
  top:150px;
  left: 30%;

}
.hero {
  width: 100%;
  height: 700px;
  background: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}
.card{
	opacity: 0.95;
}


